img {
  width: 200px;
  height: 120px;
}
body{
  Background-color:rgb(217,353,375);
    background-repeat: no-repeat;
  background-size:cover;
}
nav{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  background-color:RGB(37, 150, 190);
  justify-content:space-between;
  overflow:auto;
  padding: 14px 16px;
  color:rgb(255,255,255);
  font-stlye: Courier New;
}
ul li {
  position:relative;
  margin: 15px 20px;
  list-style:none;
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  font-family: Courier New;
}
.logo{
  width: 120px;
  height: 90px;
  style: margin-left 40px;
}
ul li a{
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
ul li a: hover {
  background-color: rgb (129, 123, 123);
}
h1 {
  font-family: Helvetica;
    text-align: center;
  color:white;
    font-size: 70px;
}
p1 {
 font-size: 20px;
  font-Family: Courier New;
}
p{
  font-family: Times New Roman;
  font-size: 20px;
  text-align: left; 
}
h2{
  text-align:left;
}
img {
  float: right;
}
